#player-info-section {
    gap: 4rem;
}

.team-player-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    gap: 1rem;
}

#start-match-btn {
    width: 15rem;
    height: 3rem;
    border-radius: 28px;
    font-size: 1.2rem;
}