:root {
    --primary-color: #3B82F6;
    --card-bg-color:  #111115;

    --primary-font: "Unbounded", sans-serif;
    --secondary-font: "Geist", sans-serif;

    --primary-card-bg: rgba(59, 130, 246, 0.15);
    --primary-card-bg-hover: rgba(59, 130, 246, 0.1);

    --green: #00FF66;
    --orange: #FF5722;

    --option-header-color: #94A3B8;
    --green-bg: rgba(0, 255, 102, 0.15);
    --orange-bg: rgba(255, 87, 34, 0.15);

    --green-card-hover: rgba(0, 255, 102, 0.1);
    --orange-card-hover: rgba(255, 87, 34, 0.1);
}